<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Fragments</title>
   </head>
<body>
   
   <header th:fragment="navbar" class="navbar-header">
      <div class="navbar-container">
        
        <a th:href="@{/}" class="navbar-brand">IFPB - Achados e Perdidos</a>
        
        <nav class="navbar-menu">
          <a th:href="@{/}">🏠 Tela Inicial</a>
          <a th:href="@{/usuario/form}">👤 Cadastrar Usuário</a>
          <a th:href="@{/usuario/list}">📋 Listar Usuários</a>
          <a th:href="@{/item/form}">🎒 Cadastrar Item</a>
        </nav>
        
      </div>
    </header>

</body>
</html>